@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
        /*позволяет избежать случайной прокрутки страницы в то время, пока открыто меню*/
    }
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: none;
    }
}

.header {
    position: fixed;
    /*с этим значением header всегда будет "прикручен" к верху страницы даже при прокрутке*/
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    /*большое значение z-index'а гарантирует, что элемент будет отображаться "выше" остальных элементов*/
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3E6D76;
    z-index: 3;
    /*для того, чтобы меню в адаптивном варианте не перекрывало шапку*/
}

.header__body {
    position: relative;
    /*z-index: 2; было нужно на начальном этапе верстки, чтобы видеть элементы шапки; при верстке адаптивности становится не нужным и заменяется z-index'ами в соответствующих элементах шапки*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 768px) {
    .header__body {
        height: 50px;
    }
}

.header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    /*закругляем картинку*/
    position: relative;
    z-index: 5;
}
@media (max-width: 768px) {
    .header__logo {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40px;
                flex: 0 0 40px;
    }
}
.header__logo img {
    max-width: 100%;
    /*на случай, если картинка будет больше контейнера*/
    display: block;
    /*"боремся" с отступом у картинки снизу*/
}

.header__burger {
    display: none;
}
@media (max-width: 768px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
    }
    .header__burger span {
        background-color: #B9CFD4;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        /*создаем среднюю часть бургера*/
        top: 9px;
        /*расставляем части бургера по вертикали*/
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before, .header__burger:after {
        content: "";
        background-color: #B9CFD4;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        /*создаем верхнюю и нижнюю часть бургера*/
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
        /*расставляем части бургера по вертикали*/
    }
    .header__burger:after {
        bottom: 0;
        /*расставляем части бургера по вертикали*/
    }
    .header__burger.active:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 9px;
        /*изменяем бургер на крестик*/
    }
    .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 9px;
        /*изменяем бургер на крестик*/
    }
    .header__burger.active span {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        /*изменяем бургер на крестик*/
    }
}

@media (max-width: 768px) {
    .header__menu {
        position: fixed;
        top: -100%;
        /*скрываем меню*/
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        /*на тот случай, если пункты меню не поместятся на экране*/
        background-color: #688A91;
        padding: 70px 10px 20px 10px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    position: relative;
    z-index: 5;
}
@media (max-width: 768px) {
    .header__list {
        display: block;
    }
}
.header__list li {
    margin: 0 0 0 15px;
}
@media (max-width: 768px) {
    .header__list li {
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-bottom: 2px solid #B9CFD4;
    }
}

.header__link {
    width: 100px;
    height: 20px;
    background-color: #B9CFD4;
    display: block;
}
@media (max-width: 992px) {
    .header__link {
        width: 85px;
        height: 15px;
    }
}
@media (max-width: 768px) {
    .header__link {
        width: 200px;
        height: 20px;
    }
}
.header__link:hover {
    color: #B9CFD4;
    opacity: 0.5;
    text-decoration: underline;
}

.content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.content__title {
    margin: 100px 0 20px 0;
    font-size: 40px;
    font-weight: bold;
}
@media (max-width: 992px) {
    .content__title {
        margin: 100px 0 10px 0;
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    .content__title {
        margin: 70px 0 15px 0;
        font-size: 25px;
    }
}

.three-block {
    margin: 0 0 15px 0;
}

.three-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
}
@media (max-width: 768px) {
    .three-block__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

.three-block__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    margin: 0 0 15px 0;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .three-block__column {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
        margin: 0 0 15px 0;
        padding: 0 15px;
    }
}

.three-block__item {
    padding: 15px;
    background-color: #688A91;
}

.three-block__image {
    margin-bottom: 10px;
    padding: 0 0 67% 0;
    background-color: #B9CFD4;
}

.three-block__text {
    color: #fff;
    line-height: 20px;
}

.two-block {
    margin: 0 0 15px 0;
}

.two-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
}
@media (max-width: 768px) {
    .two-block__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

.two-block__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 15px 0;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .two-block__column {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
    }
}

.two-block__item {
    padding: 15px;
    background-color: #688A91;
}

.two-block__image {
    margin-bottom: 10px;
    padding: 0 0 67% 0;
    background-color: #B9CFD4;
}

.two-block__text {
    color: #fff;
    line-height: 20px;
}

.footer {
    padding: 15px 0;
    background-color: #3E6D76;
    text-align: center;
}

.footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__text {
    display: block;
    width: 150px;
    height: 20px;
    background-color: #B9CFD4;
}
@media (max-width: 1200px) {
    .footer__text {
        width: 120px;
        height: 15px;
    }
}
@media (max-width: 992px) {
    .footer__text {
        width: 100px;
        height: 15px;
    }
}
@media (max-width: 768px) {
    .footer__text {
        width: 70px;
        height: 10px;
    }
}